{% extends "base.html" %}
{% block title %}
  Home 2
{% endblock %}

{% block body %}
    <style>
.data-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.data-table td, .data-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>

<table class="data-table">
  {{ data|safe }}
</table>

{% endblock %}