{% extends "base.html" %}
{% block title %}
  Home
{% endblock %}

{% block body %}
<div id="container">

  <form action="{{ url_for('save_new') }}" method="post">
  <br>
  <input type="text" name="name" placeholder="Name">
  <br>
  <input type="email" name="email" placeholder="Email">
  <br>
  <input type="submit" name="save" value="Save">
  <br>
  </form>
  <br>
  <div id="cards">
    {% for employer in employers %}
    <div class="card", id="card">
      <p>Name: {{ employer.name }}</p>
      <p>Email: {{ employer.email }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}